h1 {
  font-size: 50px;
  margin: 0px;
}

body {
  font-family: "Teko", sans-serif;
  margin: 0;
}
.color-orange {
  color: orange;
}
section {
  height: 500px;
  padding-bottom: 100px;
  margin: 0;
}
.text-color {
  color: white;
  text-align: left;
}
.hire-me {
  background-image: linear-gradient(lightsalmon, tomato);
  padding: 8px 34px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 1200px;
  color: white;
}
.half-width {
  width: 43%;
  float: left;
  margin-left: 5%;
  padding-left: 1%;
  height: 80%;
}
.half-width img {
  height: 400px;
}
.section-one {
  background-image: url(images/bg-head.jpg);
  background-repeat: no-repeat;
}
#only {
  background-image: url(images/spiderman-bg.jpg);
  background-position: right;
  background-repeat: no-repeat;
}
.section-two {
  background-color: gray;
  margin-bottom: 0%;
}
.section-three {
  background-color: gray;
  padding-bottom: 10px;
  padding: 10px 100px;
}
#last-one {
  border-left: 10px solid;
  border-radius: 5px;
  box-shadow: 5px 7px 40px aqua;
}
#last-two {
  border-left: 10px solid;
  border-image-slice: 1;
  border-radius: 5px;
  box-shadow: 5px 7px 40px aqua;
}
footer {
  text-align: center;
}
.section-three > h1 {
  text-align: center;
}
